:root {
    --canvas-size: 90vmin;
    --joypad-size: 40vmin;
    --button-size: 40vmin;
}

*:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
}

body {
    margin:           0;
    padding:          0;
    overflow:         hidden;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    background-color: #ebebeb;
    height:           100vh;
}

#canvas {
    width:  var(--canvas-size);
    height: var(--canvas-size);
    border-radius: 10px;
    border: 5px solid #d0d0d0;
}

#containerOne, #containerTwo {
    display: flex;
}

#joypad, #button {
    background-color: #d0d0d0;
    background: linear-gradient(180deg, #c0c0c0, #d0d0d0);
}

#joypad {
    border-radius: calc(var(--joypad-size-in-container) / 2);
}

#button {
    border-radius: calc(var(--button-size-in-container) / 2);
}

@font-face {
    font-family: 'font';
    src: url('font.woff2') format('woff2'), url('font.woff') format('woff');
}

@media (orientation: landscape) {
    :root {
        --container-size:           calc((100vw - var(--canvas-size)) / 2);
        --button-size-in-container: calc(min(var(--container-size), var(--button-size)));
        --joypad-size-in-container: calc(min(var(--container-size), var(--joypad-size)));
    }

    body {
        flex-direction: row;
    }

    #containerOne, #containerTwo {
        height:      var(--canvas-size);
        width:       var(--container-size);
        align-items: center;
    }

    #containerOne {
        justify-content: flex-start;
    }

    #containerTwo {
        justify-content: flex-end;
    }

    #button {
        width:  var(--button-size-in-container);
        height: var(--button-size-in-container);
    }

    #joypad {
        width:  var(--joypad-size-in-container);
        height: var(--joypad-size-in-container);
    }
}

@media (orientation: portrait) {
    :root {
        --container-size:           calc((100vh - var(--canvas-size)) / 2);
        --button-size-in-container: calc(min(var(--container-size), var(--button-size)));
        --joypad-size-in-container: calc(min(var(--container-size), var(--joypad-size)));
    }

    body {
        flex-direction: column;
    }

    #containerOne, #containerTwo {
        width:  var(--canvas-size);
        height: var(--container-size);
    }

    #containerTwo {
        align-items: flex-end;
    }

    #stretch {
        flex: 1;
    }

    #button {
        width:  var(--button-size-in-container);
        height: var(--button-size-in-container);
    }

    #joypad {
        width:  var(--joypad-size-in-container);
        height: var(--joypad-size-in-container);
    }
}
